<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geekyogi: Your Digital Growth Catalyst</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml" />

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="./assets/css/style.css" />

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Source+Sans+Pro:wght@600;700&display=swap"
      rel="stylesheet"
    />
	{% block style %}{% endblock %}
	{% block script %}{% endblock %}
  </head>

  <body id="top">
    <!-- 
    - #HEADER
  -->

    <header class="header" data-header>
      <div class="container">
        <div class="overlay" data-overlay></div>

        <a href="#">
          <h1 class="logo">GeekYogi</h1>
        </a>

        <nav class="navbar" data-navbar>
          <div class="navbar-top">
            <a href="#" class="logo">Geekyogi</a>

            <button
              class="nav-close-btn"
              aria-label="Close Menu"
              data-nav-close-btn
            >
              <ion-icon name="close-outline"></ion-icon>
            </button>
          </div>

          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="#home" class="navbar-link" data-navbar-link>Home</a>
            </li>

            <li class="navbar-item">
              <a href="#about" class="navbar-link" data-navbar-link>About</a>
            </li>

            <li class="navbar-item">
              <a href="#services" class="navbar-link" data-navbar-link
                >Services</a
              >
            </li>

            <li class="navbar-item">
              <a href="#features" class="navbar-link" data-navbar-link
                >Features</a
              >
            </li>

            <li class="navbar-item">
              <a href="#blog" class="navbar-link" data-navbar-link>Blog</a>
            </li>

            <li class="navbar-item">
              <a href="#" class="navbar-link" data-navbar-link>Contact Us</a>
            </li>
          </ul>
        </nav>

        <a href="#" class="btn">
          <ion-icon
            name="chevron-forward-outline"
            aria-hidden="true"
          ></ion-icon>

          <span>Get A Quote</span>
        </a>

        <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
          <ion-icon name="menu-outline"></ion-icon>
        </button>
      </div>
    </header>

	<main>
		{% block pagecontent %}
		{% endblock %}
	</main>

    <!-- 
    - #FOOTER
  -->

    <footer class="footer">
      <div class="footer-top section">
        <div class="container">
          <div class="footer-brand">
            <a href="#" class="logo">GeekYogi</a>

            <p class="text">
              Geekyogi is a digital marketing company that specializes in
              providing innovative and effective solutions to businesses of all
              sizes, helping them to grow and thrive in the digital world.
            </p>

            <ul class="social-list">
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
            </ul>
          </div>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Our links</p>
            </li>

            <li>
              <a href="#" class="footer-link">Home</a>
            </li>

            <li>
              <a href="#" class="footer-link">About Us</a>
            </li>

            <li>
              <a href="#" class="footer-link">Services</a>
            </li>

            <li>
              <a href="#" class="footer-link">Team</a>
            </li>

            <li>
              <a href="#" class="footer-link">Blog</a>
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Our Services</p>
            </li>

            <li>
              <a href="#" class="footer-link">Strategy & Research</a>
            </li>

            <li>
              <a href="#" class="footer-link">Digital Marketing</a>
            </li>

            <li>
              <a href="#" class="footer-link">Call centre services</a>
            </li>

            <li>
              <a href="#" class="footer-link">Hardware Services</a>
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Other links</p>
            </li>

            <li>
              <a href="#" class="footer-link">FAQ</a>
            </li>

            <li>
              <a href="#" class="footer-link">Portfolio</a>
            </li>

            <li>
              <a href="#" class="footer-link">Privacy Policy</a>
            </li>

            <li>
              <a href="#" class="footer-link">Terms & Conditions</a>
            </li>

            <li>
              <a href="#" class="footer-link">Support</a>
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Contact Us</p>
            </li>

            <li class="footer-item">
              <div class="footer-item-icon">
                <ion-icon name="call"></ion-icon>
              </div>

              <div>
                <a href="tel:+2484214313" class="footer-item-link"
                  >+248-421-4313</a
                >
                <a href="tel:+2486871365" class="footer-item-link"
                  >+248-687-1365</a
                >
              </div>
            </li>

            <li class="footer-item">
              <div class="footer-item-icon">
                <ion-icon name="mail"></ion-icon>
              </div>

              <div>
                <a
                  href="mailto:brandsubhajit@gmail.com"
                  class="footer-item-link"
                  >help.geekyogi@gmail.com</a
                >
                <a
                  href="mailto:brandsubhajit@gmail.com"
                  class="footer-item-link"
                  >support.geekyogi@gmail.com</a
                >
              </div>
            </li>

            <li class="footer-item">
              <div class="footer-item-icon">
                <ion-icon name="location"></ion-icon>
              </div>

              <address class="footer-item-link">
                G7CH+XMW, Phase I, Module – B, Ground Floor, Durgapur, West
                Bengal 713208
              </address>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-bottom">
        <p class="copyright">
          &copy; 2023
          <a href="#" class="copyright-link">geekyogi technology</a>. All Right
          Reserved
        </p>
      </div>
    </footer>

    <!-- 
    - #GO TO TOP
  -->

    <a href="#top" class="go-top active" aria-label="Go To Top" data-go-top>
      <ion-icon name="arrow-up-outline"></ion-icon>
    </a>

    <!-- 
    - custom js link
  -->
    <script>
		const navOpenBtn = document.querySelector("[data-nav-open-btn]");
		const navbar = document.querySelector("[data-navbar]");
		const navCloseBtn = document.querySelector("[data-nav-close-btn]");
		const overlay = document.querySelector("[data-overlay]");

		const elemArr = [navCloseBtn, overlay, navOpenBtn];

		for (let i = 0; i < elemArr.length; i++) {
		elemArr[i].addEventListener("click", function () {
			navbar.classList.toggle("active");
			overlay.classList.toggle("active");
		});
		}

		const navbarLinks = document.querySelectorAll("[data-navbar-link]");

		for (let i = 0; i < navbarLinks.length; i++) {
		navbarLinks[i].addEventListener("click", function () {
			navbar.classList.toggle("active");
			overlay.classList.toggle("active");
		});
		}

		const header = document.querySelector("[data-header]");
		const goTopBtn = document.querySelector("[data-go-top]");

		window.addEventListener("scroll", function () {
		if (window.scrollY >= 400) {
			header.classList.add("active");
			goTopBtn.classList.add("active");
		} else {
			header.classList.remove("active");
			goTopBtn.classList.remove("active");
		}
		});
	</script>

    <!-- 
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
